@model List<hamburger.Models.Category>
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


<div>
    <form method="post">
        <label>Name</label>
        <input type="text" name="Name" id="Name" />
        <br />
        <label>Category</label>
     <select name="CategoryId" id="CategoryId">
         @foreach (var cat in Model)
         {
             <option value="@cat.Id">@cat.Name</option>
         }

     </select>
        <br />
        <label>Unit Price</label>
        <input type="text" name="UnitPrice" id="UnitPrice" />
        <br />
        <label> Is  active</label>

        <input type="checkbox" value="true" checked="true"
               data-val="true" name="IsActive"
               id="IsActive" />

        <br />
        <br />
        <button>Kaydet</button>

    </form>
</div>
