
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<div>
    <form method="post">
        <label>Ad</label>
        <input type="text" name="Name" id="Name" />
        <br />
        <label>Soyad</label>
        <input type="text" name="Surname" id="Surname" />
        <br />
        <label>Balance</label>
        <input type="text" name="Balance" id="Balance" />
        <br />
        <label> Is  active</label>

        <input type="checkbox" value="true" checked="true"
               data-val="true" name="IsActive"
               id="IsActive" />

        <br />
        <br />
        <button>Kaydet</button>

    </form>
</div>
